@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <label>UserName</label>
    <input type="text" id="userid"/>
    <label>Password</label>
    <input type="text" id="userpsw" />
    <br />
    <button id="btnsubmit">Submit</button>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/js/user.js"></script>