<div>
    <h1>Login User</h1>
</div>
<div>
    <label>UserName</label>
    <input type="text" id="luserid" />
    <label>Password</label>
    <input type="password" id="luserpsw"/>
    <br />
    <button id="loginbtnsubmit">Submit</button>
</div>